<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item" onmouseover="onHover();" onmouseout="offHover();" >
        <img class="logo" id='logo' src="/images/logo.jpg" alt="logo"/> WebLab
      </a>
      <a href="/chart" class="item">Charts</a>
    </div>
  </div>
<br/>
